.title{
  font-weight: bold;
  font-size: 24px;
  color: #44D7B6;
}

h4 {
  font-family: Georgia;
  font-size: 12px;
  color: black;
}

.body{
  font-weight: regular;
  font-size: 16px;
  color: #979797 !important;
}

h1, p {
  font-family: Roboto;
}
